<!DOCTYPE html>
<html>
<head>
    <title>About <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<% include templates/header.ejs %>

<h1>About <%= title %> </h1>
<p>Hiii my name is vasu and i am a programmer . </p>
</body>
</html>
